.footer {
  background-color: var(--main-bg);
  padding-top: 70px;
  padding-bottom: 60px;
  box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
}
.footer-link {
  color: var(--main-font-color);
}
.footer__privacy .footer-link:hover,
.phone .footer-link:hover,
.location .footer-link:hover {
  border-bottom: 1px solid var(--main-font-color);
  border-radius: 0;
}

.location,
.phone {
  display: flex;
  gap: 14px;
}
.phone-icon,
.location-icon {
  width: 30px;
  height: 30px;
}

.footer__privacy .footer-link {
  display: inline-block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin-top: 60px;
  color: var(--main-font-color);
  background: transparent;
}

/*-----MEDIA (fluid)---------*/
@media screen and (min-width: 320px) {
  .footer__privacy .footer-link {
    font-size: calc(12px + 8 * ((100vw - 320px) / 940));
    margin-top: calc(40px + 20 * ((100vw - 320px) / 940));
  }
}
@media screen and (min-width: 1260px) {
  .footer__privacy .footer-link {
    font-size: 20px;
    margin-top: 60px;
  }
}
/*-----MEDIA (fixed)---------*/
@media screen and (max-width: 950px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__links {
    padding: 0;
    flex-direction: column;
    gap: 20px;
  }
  .footer__links .logo {
    padding-bottom: 40px;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-link img {
    width: 80%;
  }
}
